*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.full-cont{
    width: 100%;
    background-size: cover;
    background-color: black;
    color: white;
    padding-bottom: 25px;
    padding: 25px;

}

.sub-heading{
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.form-but-cont-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    display: none;
}

.main-heading{
    text-align: center;
    font-size: 40px;
}

.form-cont input{
    width: 30%;
    height: 40px;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid #AAAAAA;
    margin-right: 15px;
    padding: 5px;
    padding-left: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.form-cont input:focus{
    border: 1px solid yellow;
}

.form-but-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.button{
    width: 150px;
    height: 40px;
    background-color: ghostwhite;
    color: black;
    border: 1px solid #AAAAAA;
    outline: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.input-search-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 80%;
}

.search-icon{
    width: 25px;
    height: 25px;

}

.icon-cont{
    background-color: #484848;
    width: 50px !important;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid white;

}

.search-table-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.search{
    width: 100%;
    background-color: black;
    color: white;
    outline: none;
    height: 40px;
    border: 1px solid white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    padding-left:  8px;;
}

.search:focus{
    border: 1px solid lightskyblue;
}

.table{
    width: 90%;
    height: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 25px;
    
}



td{

    background-color: black;
    color: white;
    padding: 8px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

tr{
    background-color: black;
    color: white;
}

th{
    border: 1px solid white;
    background-color: black;
    color: white;
    height: 30px;
    background-color: #696969;
    padding-top: 8px;
    padding-bottom: 8px;
}



.t-id,.t-age,.t-gpa{
    width: 5%;
}

.t-name,.t-email{
    width: 30%;
}

.td-opt-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}


.removeBut{
    display: none;
}

.addBut{
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #B58F72;
    color: black;
    border: 1px solid #AAAAAA;
    outline: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.button-2{
    width: 150px;
    height: 40px;
    background-color: ghostwhite;
    color: black;
    border: 1px solid #AAAAAA;
    outline: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.span-edit{
    color:#B58F72;
    font-size: 35px;
}
